.DS_Store
xcuserdata
Pods/
*.xcworkspace
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.swp
# Cocoapods
Pods

# Use your own, checkout settings.json.sample
WhosFancy/Resources/settings.json
